html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 1200px;
}

/*
    Elements in alphabetical order
*/
ol, li {
    text-align: start;
}

/*
    Classes in alphabetical order
*/

.bottom-link {
    @media only screen and (max-height: 1275px) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.control-button {
    @media only screen and (max-width: 1279px) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.d-flex {
    display: flex;
    width: 100%;
}

.d-inline-block {
    display: inline-block;
    vertical-align: middle;
}

.d-none {
    display: none;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.description-column {
    max-width: 45rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mx-025 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pipe-separator {
    color: lightgray;
    font-size: 1.25rem;
    transform: translateY(-0.125rem);

    @media only screen and (max-height: 1275px) {
        display: none;
    }
}

.text-center {
    text-align: center;
}

/*
    By ID, in alphabetical order
*/

div#bottom-bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;

    /* Min height of body */
    @media only screen and (max-height: 1275px) {
        position: static;
        margin-top: 5rem;
        justify-content: start;
        flex-direction: column;
    }
}

div#controls {
    @media only screen and (max-width: 1279px) {
        flex-direction: column;
        flex-grow: 1;
    }
}

div#game {
    width: 1280px;
    height: 720px;
    padding: 0;
    margin: 3rem auto;

    @media only screen and (max-width: 1279px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

div#upload-error {
    color: red;
    font-weight: bold;
}