<!DOCTYPE html>
<html lang="en">
<head>
    <title>GoL</title>
    <meta charset="utf-8">
</head>
<body>
<div class="text-center">
    <h1>Game of Life</h1>
</div>
<div class="d-flex align-items-center justify-center">
    <div class="description-column flex-column mx-2">
        <div>
            <div class="text-center">
                <p>
                    This is
                    <a href="https://en.wikipedia.org/wiki/John_Horton_Conway" target="_blank">
                        John Horton Conway's
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">
                        Game of Life
                    </a>
                    in javascript.
                </p>
                <p>
                    It's an algorithm that produces really organic-looking movement. To me, it looks like
                    cells dividing or something. But cooler because it's more pixelated & geometric.
                </p>
                <p>
                    The Game below is a grid of squares (or "cells"), each with a value "alive" or "dead". My
                    version of the game updates every time your monitor does (usually 60 times per second).
                    Each update of the game is called a "tick".
                </p>
                <p>
                    For each tick, the cells change based on the following rules:
                </p>
            </div>
            <div class="w-fit mx-auto">
                <ul>
                    <li>
                        A live cell with less than two live neighbors dies (Abandoned by its friends)
                    </li>
                    <li>
                        A live cell with two or three live neighbors lives (Power in numbers)
                    </li>
                    <li>
                        A live cell with more than three neighbors dies (Overpopulation)
                    </li>
                    <li>
                        A dead cell with exactly 3 live neighbors becomes alive (Reproduction)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="description-column flex-column mx-2">
        <div class="text-center">
            <p>
                My version has a couple of additional rules because your browser doesn't have infinite
                processing power.
            </p>
        </div>
    </div>
</div>
<div id="game"></div>
<div id="bottom-bar">
    <div class="d-flex align-items-center mx-auto w-fit my-1">
        <div>
            The source is available on
        </div>
        <div class="mx-025">
            <a href="https://github.com/evindunn/life" target="_blank">
                <img alt="github" src="https://img.shields.io/badge/GitHub-black?logo=github">
            </a>
        </div>
    </div>
    <div class="d-flex align-items-center mx-auto w-fit my-1">
        <div>
            Here's my
        </div>
            <div class="mx-025">
            <a href="https://www.linkedin.com/in/evin-dunn-b39a02158" target="_blank">
                <img alt="github" src="https://img.shields.io/badge/LinkedIn-darkblue">
            </a>
        </div>
    </div>
    <div class="d-flex align-items-center mx-auto w-fit my-1">
        <div>
            If you think this is cool you can
        </div>
        <div class="mx-025">
            <a href="buymeacoffee.com/evindunn" target="_blank">
                <img alt="github" src="https://img.shields.io/badge/Buy Me a Coffee-black?labelColor=black&logo=buymeacoffee">
            </a>
        </div>
    </div>
</div>
</body>
</html>