<!DOCTYPE html>
<html lang="en">
<head>
    <title>GoL</title>
    <meta charset="utf-8">
</head>
<body>
<div class="text-center">
    <h1>Game of Life</h1>
</div>
<div class="d-flex align-items-center justify-center">
    <div>
        <div class="text-center">
            <p>
                This is
                <a href="https://en.wikipedia.org/wiki/John_Horton_Conway" target="_blank">
                    John Horton Conway's
                </a>
                <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">
                    Game of Life
                </a>
                in javascript.
            </p>
            <p>
                It's an algorithm that produces really organic-looking movement. To me, it looks like
                cells dividing or something. But cooler because it's more pixelated & geometric.
            </p>
            <p>
                The movement of the Game looks random, but is actually deterministic: the start state
                of the Game will always produce the same result. So I added a Save/Load buttons.
            </p>
            <p>
                I made the Game using the wonderful
                <a href="https://two.js.org" target="_blank">Two.js</a>
                and
                <a href="https://webpack.js.org" target="_blank">Webpack</a>.
            </p>
            <p>
                It's a static site in an
                <a href="https://en.wikipedia.org/wiki/Amazon_S3" target="_blank">S3 bucket</a>
                and is deployed via a
                <a href="https://github.com/features/actions" target="_blank">GitHub Action</a>
            </p>
        </div>
    </div>
</div>
<div id="game"></div>
<div class="d-flex align-items-center justify-center">
    <div class="mx-1">
        <button id="play">
            Play
        </button>
    </div>
    <div class="mx-1">
        <button id="pause">
            Pause
        </button>
    </div>
    <div class="mx-1">
        <button id="reset">
            Reset
        </button>
    </div>
</div>
<div id="bottom-bar" class="mx-2 d-flex justify-center">
    <span>
        The source is available on
        <span class="d-inline-block">
            <a href="https://github.com/evindunn/life" target="_blank">
                <img alt="github" src="https://img.shields.io/badge/GitHub-black?logo=github">
            </a>
        </span>
    </span>
    <span class="d-inline-block mx-1 pipe-separator"> | </span>
    <span>
        Here's my
        <span class="d-inline-block">
            <a href="https://www.linkedin.com/in/evin-dunn-b39a02158" target="_blank">
                <img alt="github" src="https://img.shields.io/badge/LinkedIn-darkblue">
            </a>
        </span>
    </span>
    <span class="d-inline-block mx-1 pipe-separator"> | </span>
    <span>
        If you think this is cool you can
        <span class="d-inline-block">
            <a href="https://buymeacoffee.com/evindunn" target="_blank">
                <img alt="github" src="https://img.shields.io/badge/Buy Me a Coffee-black?labelColor=black&logo=buymeacoffee">
            </a>
        </span>
    </span>
</div>
</body>
</html>